header{ 
    background-color:  transparent;    
    text-align: center;

}

header img
{ 
    border-radius: 100px;
 
    padding-top: 12px;
    padding-bottom: 16px;
    max-width: 16vw;
    height: auto;
}

header h1{
    font-family: sans-serif;
    color: #124E78;
    padding-bottom: 20px;
}


footer {
    
    position: bottom;
    bottom : 0;
    height:60px;
    margin-top : 40px;
    text-align: left ;
 }



/* google sass or less */
.fot--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: solid 2px;
    
}
.buttons-container a {
    margin: 0 5px;
}

.fotMedia-container{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px;
}
.fot--column-1 {
  padding-right: 20px;
}

.btn-facebook{
    background-image : url(../img/facebook.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}
.btn-ig{
    background-image : url(../img/instagram.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}
.btn-Twit{
    background-image : url(../img/twitter.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}
.btn-tmbl{
    background-image : url(../img/tumblr.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}



.btn-account{
    background-image : url(../img/Account.png);
    background-size: cover;
    background-color:transparent ;
    width: 30px;
    height: 30px;}
    .btn-favorites{
    background-image : url(../img/favorite.png);
    background-size: cover;
    background-color:transparent ;
    width: 30px;
    height: 30px;}
.btn-Basket{
    background-image : url(../img/basket.png);
    background-size: cover;
    background-color:transparent ;
    width: 30px;
    height: 30px;}





.catList{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr;
 margin: auto;
 margin-top: 20px;
 min-height: 690px;
}

.catItem{
    display: block; 
    margin: auto;
}

.fotMedia-container a {
margin :0 7px;
}

@media only screen and (max-width: 1240px) {
  .catItem img{
    height: 200px;
    width: auto;
  }
}
.catTipe{
    background-color: gray;
    text-align: center;
    font-size: 30px;
}
.catItem a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.catItem a:visited{
    color: rgb(22, 22, 22);
  background-color: transparent;
  text-decoration: none;
}
.catItem a:hover{
    color: rgb(119, 49, 49);
  background-color: transparent;
  text-decoration: none;
}
.catItem a:active{
    color: rgb(170, 138, 138);
  background-color: transparent;
  text-decoration: none;
}

.headerStrip{
    height: 8vw;
    width: 100%;
    background-color: brown;
    z-index: -1;
    position: absolute;
}

