header{ 
    background-color:  transparent;    
    text-align: center;

}

header img
{ 
    border-radius: 100px;
 
    padding-top: 12px;
    padding-bottom: 16px;
    max-width: 16vw;
    height: auto;
}

header h1{
    font-family: sans-serif;
    color: #124E78;
    padding-bottom: 20px;
}


footer {
    
    position: bottom;
    bottom : 0;
    height:60px;
    margin-top : 40px;
    text-align: left ;
 }



/* google sass or less */
.fot--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: solid 2px;
    
}
.buttons-container a {
    margin: 0 5px;
}

.fotMedia-container{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px;
}
.fot--column-1 {
  padding-right: 20px;
}

.btn-facebook{
    background-image : url(../img/facebook.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}
.btn-ig{
    background-image : url(../img/instagram.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}
.btn-Twit{
    background-image : url(../img/twitter.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}
.btn-tmbl{
    background-image : url(../img/tumblr.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}



.btn-account{
    background-image : url(../img/Account.png);
    background-size: cover;
    background-color:transparent ;
    width: 30px;
    height: 30px;}
    .btn-favorites{
    background-image : url(../img/favorite.png);
    background-size: cover;
    background-color:transparent ;
    width: 30px;
    height: 30px;}
.btn-Basket{
    background-image : url(../img/basket.png);
    background-size: cover;
    background-color:transparent ;
    width: 30px;
    height: 30px;}





.catList{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr;
 margin: auto;
 margin-top: 20px;
 min-height: 690px;
}

.catItem{
    display: block; 
    margin: auto;
}

.fotMedia-container a {
margin :0 7px;
}

@media only screen and (max-width: 500px) {
  .catItem img{
    height: 200x;
    width: auto;
  }
}
.catTipe{
    background-color: gray;
    text-align: center;
    font-size: 30px;
}
.catItem a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.catItem a:visited{
    color: rgb(22, 22, 22);
  background-color: transparent;
  text-decoration: none;
}
.catItem a:hover{
    color: rgb(119, 49, 49);
  background-color: transparent;
  text-decoration: none;
}
.catItem a:active{
    color: rgb(170, 138, 138);
  background-color: transparent;
  text-decoration: none;
}

.headerStrip{
    height: 8vw;
    width: 100%;
    background-color: brown;
    z-index: -1;
    position: absolute;
}






/* login */
body{
    text-align: center;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: brown;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
   
  }
  
  /* Center the image and position the close button */
  /* .imgcontainer {
    text-align: left;
    margin: 24px 0 12px 0;
    position: relative;
  }
   */
  
  .container {
    padding: 16px;
  
}
  .container.logContainer {
    padding: 16px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
/* login */