header{ 
    background-color: #124E78 ;
    text-align: center;

}

header img
{ 
    border-radius: 100px;
    width: 200px;
   
    padding-top: 70px;
    padding-bottom: 20px;
}

header h1{
    font-family: sans-serif;
    color: #F0F0C9;
    padding-bottom: 20px;
}








footer {
    
    position: bottom;
    bottom : 0;
     height:60px;
     margin-top : 40px;
     text-align: left ;
 }



/* google sass or less */
.fot--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 454px;
}

.fotMedia-container{
    display: flex;
    justify-content: center;
}
.fot--column-1{
                    padding-right: 20px;
                }

.btn-facebook{
    background-image : url(/img/facebook.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}
.btn-ig{
    background-image : url(/img/instagram.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}
.btn-Twit{
    background-image : url(/img/twitter.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}
.btn-tmbl{
    background-image : url(/img/tumblr.png);
    background-size: cover;
    background-color:transparent ;
    width: 50px;
    height: 50px;
}



.btn-account{
    background-image : url(/img/Account.png);
    background-size: cover;
    background-color:transparent ;
    width: 30px;
    height: 30px;}
    .btn-favorites{
    background-image : url(/img/favorite.png);
    background-size: cover;
    background-color:transparent ;
    width: 30px;
    height: 30px;}
.btn-Basket{
    background-image : url(/img/basket.png);
    background-size: cover;
    background-color:transparent ;
    width: 30px;
    height: 30px;}





.catList{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr;
 padding: 0 50px;
}

.catItem{
    display: block; 
    margin: auto;
}